body{
    background-color: white;
}
header{
    background-color: #f1f1f1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

h1 {
    margin: 0;
    padding-right: 20px;
}

.center{
    text-align: center;
}

.ul-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: center;
}

.ul-menu li{
    margin: 0 15px; 
}

a{
    text-decoration: none;
    color: black;
    padding: 12px;
}

.a-active{
    background-color: #add8e6;
    color: white
}

a:hover{
    background-color: #add8e6;
}

.about-section {
    padding: 50px;
    text-align: center;
  }

section {
    overflow: hidden;
    margin: 20px 0;
    padding: 20px;
}

.text, .image {
    width: 46%;
    padding: 20px;
}

.left-text-right-image .text {
    float: left;
}

.left-text-right-image .image {
    float: right;
}

.image img {
    max-width: 100%;
    height: auto;
}

.card-container {
    display: flex; 
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.project-card {
    width: 300px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px;
}

.project-card img {
    width: 100%;
    height: 200px; 
}

.card-content {
    padding: 15px;
    background-color: #f9f9f9; 
}

.card-content h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333; 
}

.card-content p {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555; 
}
